button{
  background-color: teal;
  width: 120px;
  height: 55px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}
body{
  background-color: rgb(255, 238, 218);
  color: rgb(0, 0, 0);
  font-family: monospace; 
  font-size: 30px;
}
div{
  margin-top: 200px;
  margin-bottom: 200px;
}
h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);
}