body{
  background-color:#f3e5b9;
}
h1{
  font-size: 50px;
  font-family: serif;
  font-weight: 700;
  margin-bottom: 35px;
}
button{
  background-color: #532200;
  width: 130px;
  height: 60px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  justify-content: center;
}
div{
  margin-top: 200px;
}